.sessaoPrincipal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudoPrincipal {
  display: flex;
  width: 35rem;
  flex-direction: column;
  gap: 32px;
}

.tituloPrincipal {
  font-weight: 400;
  font-size: 50px;
  color: #0781ba;
  cursor: pointer;
}
.tituloPrincipal:hover {
  color: #06608a;
  transition: 0.2s;
  opacity: 0.9;
}

.mensagemPrincipal {
  font-weight: 400;
  font-size: 18px;
  color: #1fb2c2;
}

.botaoPrincipal {
  background: linear-gradient(
    92deg,
    rgba(31, 178, 194, 0.8) 7.71%,
    rgba(7, 129, 186, 0.8) 88.2%
  );
  width: 180px;
  height: 40px;
  border-radius: 40px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 18px;
  color: #b8d0db;
  cursor: pointer;
}
.botaoPrincipal:hover {
  background: #b8d0db59;
  color: #b5dcee;
  transition: 0.5s;
  opacity: 0.9;
}

.conteudoSecundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  padding-bottom: 30px;
}

.tituloSecundario {
  border-top: 0.4px solid #ffffff;
  padding-top: 48px;
  text-align: center;
  font-family: "Sarala", sans-serif;
  color: #1fb2c2;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 16px;
}

.paragrafoSecundario {
  width: 50%;
  text-align: center;
  font-family: "Sarala", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #1fb2c2;
}

.ultimaSessao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  padding-top: 50px;
  align-items: center;
  padding: 20px 50px 20px 100px;
}

.ultimoTitulo {
  color: #1fb2c2;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 50px;
}

.orbes {
  display: flex;
  flex-wrap: wrap;
}

.orbeHabilidade {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;
}

.tituloHabilidade {
  color: #1fb2c2;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.paragrafoHabilidade {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}

.imgHab {
  margin-right: 0.8rem;
}
